<section id="about">

      <div class="row">
         <div class="twelve columns main-col">
            <div class="twelve" style="text-align:center">
              <img class="profile-pic"  src="img/huytu.JPG" alt="" />
            </div>
            <h1> Hi, I am Ken ... </h>   
		 <h3>  • Seeking for Machine Learning and Data Science Summer Internship positions, 2018. </h3>
		 <h3>  • <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1826574&HistoricalAwards=false" target="_blank"> NSF </a> funded Ph.D. Student in Computer Science Department at North Carolina State University. </h3>
		 <h3>  • Data Science and Machine Learning Researcher at the <a href="http://ai4se.net" target="_blank">RAISE Lab (NCSU)</a>. </h3>
		 <br/>
	         <p> During the day I'm a Data Scientist and Machine Learning Researcher in the making. I am passionate in solving real-world problems empirically.
		 My prime areas of interest are Machine Learning, Data Science, and Algorithms specifically in Text Analytics, Computer Vision and Graph Mining.
                 </p>
		 
		 <p> Beside daily learning and doing rocket sciences, I enjoy running, cooking, playing badminton, poetry, and playing board games.  
                 </p>
		 
		 
            <div class="row">

               <div class="columns six download">
                 <p>
                     <a href="http://kentu.us/documents/KenTu_Resume.pdf" target="_blank" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->
