<section id="about">

      <div class="row">
         <div class="twelve columns main-col">
            <div class="twelve" style="text-align:center">
              <img class="profile-pic"  src="img/huytu.JPG" alt="" />
            </div>
            <h2>About Me</h2>
					 <p>During the day I'm a Data Scientist in the making and rest of the time I work on my pet software projects.
             I am currently pursuing my PhD in Computer Science from <a href="http://ai4se.net" target="_blank">North Carolina State University</a>. Before my PhD, I finished my Masters at NC State, did an internship
             at <a href="http://facebook.com" target="_blank">facebook</a> in 2015 and worked as a Full Stack Software Engineer at <a href="https://crowdchat.net">CrowdChat</a>.
             My prime areas of interest are Machine Learning, Algorithms and Web Development. I go for treks when I get a long weekend and I am a massive foodie.
            </p>
					 	<br/>
            <div class="row">

               <div class="columns six">

                  <h2>Contact Details</h2>
                  <p class="address">
						   <span>George V Mathew</span><br>
						   <span>(614) 535-8678</span><br>
               <span><a href="mailTo:george.meg91@gmail.com">george.meg91@gmail.com</a></span>
					   </p>

               </div>

               <div class="columns six download">
                  <p>
                     <a href="http://bigfatnoob.us/other-files/resume.pdf" target="_blank" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->
