<section id="about" class="tab-pane active">
      <div class="row">
         <div class="twelve columns main-col">
            <div class="twelve" style="text-align:center">
            <img class="profile-pic"  src="img/huytu.JPG" alt="" />
	    <!--  <div class="container">
	      <div class="row banner">
		    <div class="banner-text">
			 <h1 class="responsive-headline">Ken Tu</h1>
				<h3 class="responsive-headline"><span>#SoftwareEngineer</span> 
				<span>#DataScientist</span> 
				<span>#AIResearcher</span> </h3>
				<h3 class="responsive-headline"> <span>#NCState</span> 
				<span>#Vietnam</span>
				<span>#ENFP</span>
				<span>#Learner</span>	
				<span>#Advocate</span> </h3>
			    <hr />
			    <ul class="social">
			       <li><a title="LinkedIn" href="https://www.linkedin.com/in/huytu/"><i class="fa fa-linkedin"></i></a></li>
			       <li><a title="GitHub" href="https://github.com/HuyTu7/"><i class="fa fa-github"></i></a></li>
				<li><a title="Email" href="mailTo:hqtu@ncsu.edu"><i class="fa fa-envelope"></i></a></li>
			    </ul>
			<a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
		    </div>
		</div> 
	      </div>-->
	</div>
            <h1> Hi, I am Ken ... </h1>   
		 <h3>  • Seeking for Machine Learning and Data Science Summer Internship opportunity, 2019. </h3>
		 <h3>  • <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1826574&HistoricalAwards=false" target="_blank"> NSF </a> funded Ph.D. Computer Science Student at North Carolina State University. </h3>
		 <h3>  • Data Science and Machine Learning Researcher at the <a href="http://ai4se.net" target="_blank">RAISE Lab (NCSU)</a>. </h3>
		 <br/>
	         <p> During the day I'm a Data Scientist and Machine Learning Researcher in the making. I am passionate in solving real-world problems empirically especially exploring the synergy of SE development with Computational Science practice and understanding social network of researchers and how that tie mediate to a student’s performance and future scholar attainment.
		 My prime areas of interest are Machine Learning, Data Science, and Algorithms specifically in Text Analytics and Graph Mining.
                 </p>
		 
		 <p> Beside daily learning and doing rocket sciences, I enjoy running, cooking, playing badminton, poetry, and playing board games.  
                 </p>
		 
		 
            <div class="row">

               <div class="columns six download">
                 <p>
                     <a href="http://kentu.us/documents/KenTu_Resume.pdf" target="_blank" class="button"><i class="fa fa-download"></i>Download Resume</a>
                  </p>
               </div>

            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->
