<section id="education" class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

           <div class="row item">

              <div class="twelve columns">

                 <h3>North Carolina State University</h3>
                 <p class="info">PhD in Computer Science<span>&bull;</span> <em class="date">May 2016 - May 2019</em></p>
                 <p>
                   I work with <a href="http://menzies.us">Dr Tim Menzies</a> on real-time artificial intelligent for software engineering problems.
                   I work on estimating <a href="http://github.com/ai-se/george">software effort</a>, optimizing
                   <a href="http://github.com/ai-se/softgoals">requirements engineering</a> problems and
                   analyzing <a href="http://github.com/ai-se/citemap">trends</a> in software engineering publications.
                   <br/>
                 </p>
              </div>

           </div> <!-- item end -->
	   
	   <div class="row item">	 
		 
               <div class="twelve columns">

                  <h3>Appalachian State University</h3>
		       <p class="info">Bachelor of Science in Computational Mathematics <span>&amp;</span> <b>Minor: </b> Computer Science <span>&bull;</span> <em class="date">August 2011 - May 2015</em></p>

                  <p>
                  Graduated with <i>Magna Cum Laude</i>, 3.80/4.0. Top 5% of my graduated class. 
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </section> <!-- End Education -->
