<section id="work" class="tab-pane education">
  <div id="resume" class="row">
	 <div class="three columns header-col">
            <h1><span>Professional Experience</span></h1>
         </div>
 	<div class="nine columns main-col">

           <div class="row item">

              <div class="twelve columns">

                 <h3>Pinterest</h3>
                 <p class="info">ML Engineer Intern<span>&bull;</span> <em class="date">May - August, 2019</em></p>
              </div>

           </div> <!-- item end -->
	   
	   <div class="row item">	 
		 
               <div class="twelve columns">

                  <h3>YouNet & Gumi</h3>
		  <p class="info">Data Science Intern<span>&bull;</span> <em class="date">May - August, 2017</em>
               </div>

            </div> <!-- item end -->
	   <div class="row item">	 
		 
               <div class="twelve columns">

                  <h3>AppState University Housing</h3>
		  <p class="info">Resident Assistant and Vice President of RA Council<span>&bull;</span> <em class="date">January, 2013 - August, 2015</em>
               </div>

            </div> <!-- item end -->	

         </div> <!-- main-col end -->
	  
         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

           <div class="row item">

              <div class="twelve columns">

                 <h3>North Carolina State University</h3>
                 <p class="info">PhD in Computer Science<span>&bull;</span> <em class="date">August 2016 - Present</em></p>
		 
		      <p> Graduate Merit Fellowship ($10,000+) for GPA 3.5+ </p>
                 <!-- <p>
                   I work with <a href="http://menzies.us">Dr Tim Menzies</a> on real-time artificial intelligent for software engineering problems.
                 </p> -->
              </div>

           </div> <!-- item end -->
	   
	   <div class="row item">	 
		 
               <div class="twelve columns">

                  <h3>Appalachian State University</h3>
		       <p class="info">Bachelor of Science in Computational Mathematics <span>&bull;</span> <em class="date"> 2011 - 2015</em>
			<p class="info"> Minor in Computer Science </p>
                  <p>
			  
                  Graduated with <i>Magna Cum Laude</i>, 3.80/4.0. Top 5% of my graduated class. 
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->
  </div> <!-- resume format end -->
</section> <!-- End Education -->
