<section id="education" class="row education">

         <div class="three columns header-col">
            <h1><span>Education</span></h1>
         </div>

         <div class="nine columns main-col">

           <div class="row item">

              <div class="twelve columns">

                 <h3>North Carolina State University</h3>
                 <p class="info">PhD in Computer Science<span>&bull;</span> <em class="date">August 2016 - Present</em></p>
		 
		      <p> Graduate Merit Fellowship ($10,000+) for GPA 3.5+ </p>
                 <!-- <p>
                   I work with <a href="http://menzies.us">Dr Tim Menzies</a> on real-time artificial intelligent for software engineering problems.
                 </p> -->
              </div>

           </div> <!-- item end -->
	   
	   <div class="row item">	 
		 
               <div class="twelve columns">

                  <h3>Appalachian State University</h3>
		       <p class="info">Bachelor of Science in Computational Mathematics <span>&bull;</span> <em class="date"> 2011 - 2015</em>
		       
		       <b>Minor: </b> Computer Science </p>

                  <p>
			  <b>Minor: </b> Computer Science </p> <br />
                  Graduated with <i>Magna Cum Laude</i>, 3.80/4.0. Top 5% of my graduated class. 
                  </p>

               </div>

            </div> <!-- item end -->

         </div> <!-- main-col end -->

      </section> <!-- End Education -->
