<!-- Navigation -->	
   

    <!-- Header -->
    <header id="particles">
      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	 <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
	 <!-- <a class="navbar-brand page-scroll" href="#page-top"><h3>KT</h3></a> -->
         <ul id="nav" class="nav">
            <li class="current"><a class="page-scroll" href="#home">Home</a></li>
            <li><a class="page-scroll" href="#about">About</a></li>
	   <li><a class="page-scroll" href="#education">Education</a></li>
	   <li><a class="page-scroll" href="#work">Work</a></li>
           <li><a class="page-scroll" href="#research">Research</a></li>
	   <li><a class="page-scroll" href="#projects">Projects</a></li>
            <li><a class="page-scroll" href="#portfolio">Skills</a></li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->    
    
      <div class="row banner">
            <div class="banner-text">
                 <h1 class="responsive-headline">Ken Tu</h1>
                 	<h3 class="responsive-headline"><span>#SoftwareEngineer</span> 
			<span>#DataScientist</span> 
			<span>#AIResearcher</span> </h3>
			<h3 class="responsive-headline"> <span>#NCState</span> 
			<span>#Vietnam</span>
			<span>#ENFP</span>
			<span>#Learner</span>	
			<span>#Advocate</span> </h3>
		    <hr />
		    <ul class="social">
		       <li><a title="LinkedIn" href="https://www.linkedin.com/in/huytu/"><i class="fa fa-linkedin"></i></a></li>
		       <li><a title="GitHub" href="https://github.com/HuyTu7/"><i class="fa fa-github"></i></a></li>
		        <li><a title="Email" href="mailTo:hqtu@ncsu.edu"><i class="fa fa-envelope"></i></a></li>
		    </ul>
                <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
	<p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
        </p>    
	    
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

