<!-- Skillset Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1>What I know</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

          	   <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/java.png">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>Java</h5>
                         </div>
                      </div>
                   </div>
                </div>
          		</div> <!-- item end -->

              <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/javascript.png">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>JavaScript</h5>
                         </div>
                      </div>
                   </div>
                </div>
          		</div> <!-- item end -->

              <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/python.png">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>Python</h5>
                         </div>
                      </div>
                   </div>
                </div>
          		</div> <!-- item end -->

              <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/mysql.png">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>MySQL</h5>
                         </div>
                      </div>
                   </div>
                </div>
            </div> <!-- item end -->

            
            <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/mongo.png">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>mongoDB</h5>
                         </div>
                      </div>
                   </div>
                </div>
            </div> <!-- item end -->
            <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/html5.png">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>HTML 5</h5>
                         </div>
                      </div>
                   </div>
                </div>
            </div> <!-- item end -->
            <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/css3.png">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>CSS 3</h5>
                         </div>
                      </div>
                   </div>
                </div>
            </div> <!-- item end -->
            
            <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/bootstrap.png">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>Bootstrap</h5>
                         </div>
                      </div>
                   </div>
                </div>
            </div> <!-- item end -->

            <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/Matlab_Logo.png">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>MATLAB</h5>
                         </div>
                      </div>
                   </div>
                </div>
            </div> <!-- item end -->

            <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/sklearn.png">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>Scikit Learn</h5>
                         </div>
                      </div>
                   </div>
                </div>
            </div> <!-- item end -->

            <div class="columns portfolio-item">
             <div class="item-wrap">
                <div class="skill">
                   <img alt="" src="img/logos/tensorflow.png">
                   <div class="overlay">
                      <div class="portfolio-item-meta">
                        <h5>Tensorflow</h5>
                      </div>
                   </div>
                </div>
             </div>
           </div> <!-- item end -->

           <div class="columns portfolio-item">
            <div class="item-wrap">
               <div class="skill">
                  <img alt="" src="img/logos/RStudio.png">
                  <div class="overlay">
                     <div class="portfolio-item-meta">
                       <h5>R</h5>
                     </div>
                  </div>
               </div>
            </div>
           </div> <!-- item end -->

            <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/weka.png" style="padding-top: 30px">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>Weka</h5>
                         </div>
                      </div>
                   </div>
                </div>
            </div> <!-- item end -->
            <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/node.png">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>NodeJS</h5>
                         </div>
                      </div>
                   </div>
                </div>
            </div> <!-- item end -->
          
            <div class="columns portfolio-item">
                <div class="item-wrap">
                   <div class="skill">
                      <img alt="" src="img/logos/django.png" style="padding-top:33px">
                      <div class="overlay">
                         <div class="portfolio-item-meta">
                           <h5>Django</h5>
                         </div>
                      </div>
                   </div>
                </div>
            </div> <!-- item end -->

            
          </div> <!-- portfolio-wrapper end -->
         </div> <!-- twelve columns end -->
      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->
