

      <!-- Publications section -->
      <section id="publication" class="row research">
        <div class="three columns header-col">
           <h1><span>Publications</span></h1>
        </div>

        <div class="nine columns main-col">
    	  <div class="row item">
            <div class="twelve columns">
               <div class="three columns">
                 <a href="https://arxiv.org/abs/1807.11112">Submitted
                 </a>
               </div>
               <div class="nine columns publ-name">
                  Is One Hyperparameter Optimizer Enough?
               </div>
            </div>
          </div>
		
		
	  <div class="row item">
            <div class="twelve columns">
               <div class="three columns">
                 <a href="https://arxiv.org/abs/1804.10657">Sept 2017</a>
               </div>
               <div class="nine columns publ-name">
                 	Can You Explain That, Better? Comprehensible Text Analytics for SE Applications
               </div>
            </div>
          </div>
