

<!-- Publications section -->
<section id="publications" class="row research">
    <div class="two columns header-col">
	   <h1><span>Publications</span></h1>
    </div>

    <div class="ten columns main-col">
	  <div class="row item">
	    <div class="twelve columns">
	       <div class="three columns">
		 <a href="https://arxiv.org/abs/1807.11112"> July 2018
		 </a> <em class="date"> Accepted for SWAN 18</em></p>
	       </div>
	       <div class="nine columns publ-name">
		  Is One Hyperparameter Optimizer Enough?
	       </div>
	    </div>
	  </div>


	  <div class="row item">
	    <div class="twelve columns">
	       <div class="three columns">
		 <a href="https://arxiv.org/abs/1804.10657">April 2018</a>
	       </div>
	       <div class="nine columns publ-name">
			Can You Explain That, Better? Comprehensible Text Analytics for SE Applications
	       </div>
	    </div>
	  </div>
    </div>
</section>
<!--  End Publications -->
