

<!-- Publications section -->
<section id="publications" class="tab-pane research">
  <div id="resume" class="row">
    <div class="twelve columns collapsed">
	   <h1><span>Publications</span></h1>
    </div>
    
   <div class="row">
      <div class="col-proj-pic"><img src="images/HyperP.png" ></div>
      <div class="col-proj-desc">
	      <a href="https://arxiv.org/abs/1807.11112">
		<papertitle>Hyperparameter Optimization for Effort Estimation</papertitle>
	      </a><br>
	      <strong>Huy Tu</strong>, <a>Vivek Nair</a>
	      <br> Software Analytics Workshop @ FSE (<strong>SWAN</strong>), 2018 (Accepted) <br>
	      <p> 
		      Hyperparameter tuning is the black art of automatically finding a
			good combination of control parameters for a data miner. While
			widely applied in empirical Software Engineering, there has not
			been much discussion on which hyperparameter tuner is best for
			software analytics. 
	      </p>
      </div>
   </div>	  
	  
 </div>	  <!--  End resume formating -->
</section>
<!--  End Publications -->
