 <!-- Skills
      ----------------------------------------------- -->
      <section id="projects" class="row skill">

         <div class="three columns header-col">
            <h1><span>Projects</span></h1>
         </div>

         <div class="nine columns main-col">
             <div class="row item">

                <div class="twelve columns">

                   <h3>Optima</h3>

                  <p><a href="http://github.com/bigfatnoob/optima.io" target="_blank">Optima</a> is a
                    repository consisting of different multi-objective optimization algorithms implemented
                    in python. Numerous test mathematical problems are also implemented. Used by research groups
                    in <a href="http://ai4se.net">NCSU</a> and Hokkaido University.
                     </p>

                </div>

             </div> <!-- item end -->

					 	<div class="row item">

               <div class="twelve columns">

                  <h3>Region.IO</h3>

								 <p><a href="http://region.io" target="_blank">region.io</a> is an online bookmark manager that helps a user save all his favourite webpages, videos and PDF documents and create neat little widgets for him to comeback and view later. It is built on a Node.js and mongoDB stack. The front end templating is done on jade. Full text search is provided using elasticSearch. I've even built a google chrome extension to help the user store bookmarks in a single click.
                    </p>

               </div>

            </div> <!-- item end -->
					 	<div class="row item">

               <div class="twelve columns">

                  <h3>Sentiment Analysis</h3>

								 <p>We developed a <a href="http://bigfatnoob.us/other-files/Sentiment_Analysis.pdf" target="_blank">Bayesian based sentiment analyser</a> on twitter feeds. We used the stanford parser to tokenize the words. We used Map-Reduce to aggregate our business logic. We experimented on different preprocessing techniques like stemming and handling emoticons using regular expressions.
                    </p>

               </div>

            </div> <!-- item end -->
					 <div class="row item">

               <div class="twelve columns">

                  <h3>Digital Sphygmomanometer</h3>

								 <p>We developed an automated <a href="http://bigfatnoob.us/other-files/Digital_Sphygmomanometer.pdf" target="_blank">Digital Sphygmomanometer</a> for our senior project requirement. It was built using 4th order non inverting filters to measure it and the blood pressure calculator was built on an 8086 microcontroller chip. We obtained a 95% accuracy.
                    </p>

               </div>

            </div> <!-- item end -->
            <!--<ul>
                        <li>Created <a href="http://region.io">region.io</a>, an online bookmark manager</li>
                        <li><a href="http://www.insaneinc.info/other-files/Sentiment_Analysis.pdf" target="_blank">Sentiment Analysis</a> of twitter feeds using Bayesian model.</li>
                        <li>Designed a minimum space wastage algorithm to implement a hierarchical Tree.</li>
                        <li>Developed a <a href="http://www.insaneinc.info/other-files/Digital_Sphygmomanometer.pdf" target="_blank">Digital Sphygmomanometer</a></li>
                    </ul>-->

			</div> <!-- main-col end -->

      </section> <!-- End skills -->
