 <!-- Work
      ----------------------------------------------- -->
      <section id="work" class="row work">
         <div class="three columns header-col">
            <h1><span>Work</span></h1>
         </div>

         <div class="nine columns main-col">
            <div class="row item">

               <div class="twelve columns">

                  <h3>North Carolina State University</h3>
                  <p class="info">Graduate Teaching and Research Assistant <span>&bull;</span> <em class="date">January 2015 - Present</em></p>

                 <ul>   <li>Guided by <a href="http://menzies.us">Dr Tim Menzies</a>, a pioneer in automated software engineering, search based software engineering and data mining in software engineering</li>
                        <li>Current Project: studying and analyzing the sentiment and purposes of scientific citations of SE research papers while optimizing and stabilizing the state-of-the-art learners</li>
                        <li>Statistical tests to measure correctness of estimation techniques. ANOVA, A12, Bootstrap and Cliffs-Delta are some of the methods adopted</li>
                        <li>Coordinate with the professor & other Teaching Assistants as a team to consolidate plans, structure the course, design tests, conduct review sessions, facilitate labs, and deliver the lesson </li>
                 </ul>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>YouNet Corporation</h3>
                  <p class="info">R&D Data Science Intern <span>&bull;</span> <em class="date">May 2017 - August 2017</em></p>

                  <ul>
		    <li>Researched and designed scalable data-driven algorithms from machine learning and neural network methodologies.</li> 
                    <li>Analyzed the semantics of data, developed model, optimized performance, & deployed projects to solve business problems.</li>  
                    <li>Devised and enhanced core products in the system: Facial Beauty Rating, Facebook User’s Age Prediction with Graph Clustering and Text Analytics, & Car Detection.</li>
                  </ul>

               </div>

            </div> <!-- item end -->

            <div class="row item">

               <div class="twelve columns">

                  <h3>OverMountain Studios</h3>
                  <p class="info">Web Developer Intern<span>&bull;</span> <em class="date">May 2016 - August 2016</em></p>

                  <ul>
                    <li> Designed, built, and maintained client’s application with AngularJS & Bootstrap front-end and a NodeJS backend. </li>
		    <li> Tested functionality of client websites, troubleshoot for issues and re-structured websites for scalability and usage. </li>

                    </ul>

               </div>

            </div> <!-- item end -->

					 	<div class="row item">

               <div class="twelve columns">

                  <h3>University Housing at Appalachian State University</h3>
                  <p class="info"> Head Resident Assistant <span>&bull;</span> <em class="date">January 2013 - August 2015</em></p>

                  <ul>
                    <li>Organized building wide and cross building programs that fostered community for 500+ students</li>
                    <li>Expressed the voice of Resident Assistants and students on campus through composing policy and legislation proposals from Resident Assistant Council to University Housing Leadership</li>
		    <li>Directly advised and collaborated with the new Resident Assistant(s) and Chair of the residence hall council professionally and efficiently to help develop their leadership </li>
	            <li>Ensured the enforcement of legal and university policy through campus wide duty rounds to provide a safe and inclusive living environment for all members of the App State community.</li>  
                  </ul>

               </div>

            </div> <!-- item end -->
           <!--
            <div class="row item">

               <div class="twelve columns">

                  <h3>CrowdSpots(VDP IT Solutions)</h3>
                  <p class="info">Software Engineer <span>&bull;</span> <em class="date">October 2013 - July 2014</em></p>

                  <ul>
                        <li>Developed <a href="https://crowdchat.net">crowdchat.net</a>, a hash-tag based chat platform. It enables people from different social media networks to communicate on a common hash-tag. It was built using the NodeJS Redis stack. Bootstrap, jQuery and client jade were used to develop the user interface</li>
                        <li>Worked on <a href="http://platform.crowdchat.net">platform.crowdchat.net</a>, a data analytics platform that helps you connect with people and subscribe to their activities on twitter. The application was built on the Java MySQL stack and successfully scaled to hold more than 250 GB of analyzed data. Full text search was provided using Apache Solr</li>
                    </ul>

               </div>

            </div> -->  <!-- item end --> 


         </div> <!-- main-col end -->
      </section> <!-- End Work -->
