<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include head.html %}


    <!-- <body id="page-top" class="index"> -->

    {% include header.html %}
    {% include about.html %}
    <div id="resume">
    {% include education.html %}
    {% include work.html %}
    {% include projects.html %}
    </div> 
    {% include features.html %}
    {% include news_grid.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    <!-- </body> -->
</html>
